@font-face{
	font-family: "Open Sans";
	src: url("../font/OpenSans-Bold.ttf"),
		url("../font/OpenSans-BoldItalic.ttf"),
		url("../font/OpenSans-ExtraBold.ttf"),
		url("../font/OpenSans-ExtraBoldItalic.ttf"),
		url("../font/OpenSans-Italic.ttf"),
		url("../font/OpenSans-Light.ttf"),
		url("../font/OpenSans-LightItalic.ttf"),
		url("../font/OpenSans-Regular.ttf"),
		url("../font/OpenSans-Semibold.ttf"),
		url("../font/"OpenSans-SemiboldItalic.ttf);
}
@font-face{
	font-family: "Bebas";
	src:url("../font/BebasNeue Regular.otf"),
		url("../font/BebasNeue Thin.otf"),
		url("../font/BebasNeue Light.otf"),
		url("../font/BebasNeue Book.otf"),
		url("../font/BebasNeue Bold.otf");
}
@font-face{
	font-family: "Nobile";
	src:url("../font/Nobile-Regular.ttf"),
		url("../font/Nobile-Regular.ttf"),
		url("../font/Nobile-MediumItalic.ttf"),
		url("../font/Nobile-Italic.ttf"),
		url("../font/Nobile-BoldItalic.ttf"),
		url("../font/Nobile-Bold.ttf");
}
body{
	width: 100%;
	margin: 0;
	padding: 0;
}
.head{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100px;
	background: #333;
}
.photo-profile{
	width: 140px;
	height: 140px;
	background: #fff;
	border-radius: 50%;
	border:4px solid #fff;
	position: relative;
	top: 70px;
	box-shadow: 0 5px 15px 0 #383434;
}
.head-txt{
	font-family: "Nobile", sans-serif;
	font-size: 0.9em;
	margin:15px 20px 5px;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
}
.about{
	font-family: "Bebas", sans-serif;
	margin:5px 10px;
	background: #ccc;
	min-height: 200px;
	border-radius: 5px;
}
.social{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	padding: 60px 20px 10px;
	
	list-style: none;
}
.social li a {
	font-size: 28px;
	color:#b75e10;
}
.social li {
	margin: 5px 5px;
}
.txt-about{
	font-family: "Bebas", sans-serif;
	font-size: 18px;
	text-align: center;
	padding: 10px 20px;
	color: #b75e10;
}
.other-info{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding:  20px;
}
.other-info li{
	list-style: none;
	font-weight: bold;
	margin: 0 10px;
}
span{
	font-weight: normal;
}
.profesion{
	min-width:260px;
	font-family: "Nobile", sans-serif;
	margin: 10px;
	padding: 20px;
	background: #ccc;
}
.profesion h4, .profesion h5, .profesion p{
	margin: 5px;
}
.block-2{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.portfolio img{
	width: 320px;
	height: 170px;
}
footer{
	background: #ccc;
	padding: 20px;
}